body {
    background: #232323;
    color: aliceblue;
    font-family: Courier New;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.container {
    height: 100%;
    width: 100%;
}

.messageContainer {
    float: top;
    max-height: 80%;
}

#messagesList {
    max-height: 100%;
    overflow: auto;
}

.inputContainer {
    float: bottom;
    height: auto;
    width: 100%;
}

#messageInput {
    bottom: 0;
    position: absolute;
}