<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Site.css")" />

    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
</body>
</html>
