/*#region GENERAL*/

::selection {
    color: #000;
    background: #FFF;
}

body {
    background: #000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

/*#endregion*/

/*#region INHERITABLES*/

.noPushing {
    padding: 0;
    margin: 0;
}

.font {
    color: #FFF;
    font-family: 'Lucida Console';
    font-size: 12pt;
}

.nakedInput {
    outline: none;
    border: 0;
    box-shadow: none;
    vertical-align: middle;
    background: transparent;
}

/*#endregion*/

.container {
    position: absolute;
    height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

/*#region MESSAGE CONTAINER*/

#messageContainer {
    flex: 1;
    min-height: 0;
    max-width: 100%;
    overflow-y: auto;
}

    #messageContainer > ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

/*#endregion*/

/*#region CHANNEL CONTAINER*/

#channelContainer {
    display: flex;
    padding: 0;
    width: 100%;
}

/*#endregion*/

/*#region INPUT CONTAINER*/

.inputContainer {
    display: flex;
    padding: 0.5em 0;
    width: 100%;
    background: #000;
}

    .inputContainer > span {
        margin: 0 0.5em;
        font-weight: bold;
        text-align: center;
        display: inline-flex;
    }

    .inputContainer > input {
        display: inline-flex;
        flex-grow: 1;
    }

/*#endregion*/
