@page

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div id="messageContainer" class="noPushing">
        <ul id="messageList" class="font "></ul>
    </div>

    <div id="channelsContainer">

    </div>

    <div class="inputContainer">
        <span class="font">:></span>
        <input id="messageInput" class="font nakedInput" type="text" />
    </div>
</div>