@page

@{
    ViewBag.Title = "Index";
}

<script src="@Url.Content("~/js/irc.js")" type="text/javascript"></script>

<div class="container">
    <div id="messageContainer" class="noPushing">
        <ul id="messageList" class="font "></ul>
    </div>

    <div id="channelsContainer">
        <ul id="channelList" class="font"></ul>
    </div>

    <div class="inputContainer">
        <span class="font">:></span>
        <input id="messageInput" class="font nakedInput" type="text" />
    </div>
</div>